/*-------------------------------------------------------*/
/* Blog Standard
/*-------------------------------------------------------*/

.entry-img {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.post-single .article p {
  margin-bottom: 20px;
}

.entry-meta {
  margin-bottom: 7px;
}

.entry-meta li {
  color: $light-grey;
  font-family: $alt-font;
  font-style: italic;
  font-size: 12px;
  display: inline-block;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }

  a {
    color: inherit;

    &:hover {
      color: $main-color;
    }
  }

  i {
    margin-right: 5px;
  }
}


.entry-wrap {
  position: relative;
  padding: 40px;
  background: #fff;
}

.entry-title {
  font-size: 24px;
  margin-bottom: 3px;
  line-height: 1.4;

  a:hover {
    color: $main-color;
  }
}

.blog-standard .post-content {

  .entry-title {
    font-size: 24px;
    margin-bottom: 21px;
  }

  .entry-img,
  .entry-slider,
  .entry-video {
    position: relative;
    overflow: hidden;
  }
}

.blog-standard .entry-item {
  margin-bottom: 8%;
  position: relative;
}

.read-more {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}

.post-content {
  padding-right: 3.2%;
}


/* Quote Post
-------------------------------------------------------*/
.entry .blockquote-style-1 {
  background: #fff;

  p > a {
    color: $heading-color;

    &:hover {
      color: $main-color;
    }
  }

  span {
    font-size: 14px;
    display: block;
  }
}


/* Video Post
-------------------------------------------------------*/
.entry-video iframe {
  width: 100%;
  display: block;
  border: 0;
}


/*-------------------------------------------------------*/
/* Pagination
/*-------------------------------------------------------*/

.pagination {
  margin: 0 auto;
  border-radius: 0;
  display: block;
}

.pagination a,
.pagination span {
  font-family: $heading-font;
  font-size: 14px;
  display: inline-block;
  float: left;
  width: 40px;
  height: 40px;
  line-height: 38px;
  margin: 0 3px;
  text-align: center;
  border: 2px solid $border-color;
  @include transition ($all);
}

.pagination a {
  color: $heading-color;
  vertical-align: middle;

  &:hover {
    background-color: $main-color;
    border-color: transparent;
    color: #fff;
  }

  & > i {
    font-size: 15px;
  }

}

.pagination .current {
  color: $main-color;
  border-color: $main-color;
}


/*-------------------------------------------------------*/
/* Sidebar
/*-------------------------------------------------------*/

.left-sidebar {
  float: left;
}

.sidebar {

  .widget-title {
    margin-bottom: 28px;
    font-size: 16px;
  }

  .widget {
    margin-top: 50px;
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 30px;
    }

    & > ul > li:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    & > ul > li:first-child {
      padding-top: 0;
    }
  }
}

.widget.categories ul li.active-cat a {
  color: $heading-color;
}

.widget.categories ul li a {
  color: $text-color;

  &:hover, {
    color: $main-color;
  }
}

.widget.categories li span {
  right: 0;
  position: absolute;
  color: $text-color;
}


/* Entry List
-------------------------------------------------------*/

.post-small img {
  width: auto;
}

.entry-list {

  & .entry-img {
    float: left;
    margin-right: 20px;
    margin-bottom: 0;
  }

  & li .entry-meta {
    margin-top: 0;
    margin-bottom: 0;
  }

  & ul > li {
    padding: 12px 0;
    border-bottom: 1px solid $border-color;

    &:first-child {
      padding-top: 0 !important;
    }

    &:last-child {
      border-bottom: none !important;
      padding-bottom: 0 !important;
    }

    & .entry-title {
      font-size: 14px;
      margin-bottom: 1px;
      font-weight: normal;
      font-family: $body-font;
      line-height: 1.5;
    }

    & .entry-meta li:first-child {
      padding-left: 0;
    }
  }

  &.w-thumbs ul > li {
    padding: 15px 0; 
  }
}

.sidebar .entry-meta li {
  font-size: 12px;

  & a {
    color: $text-color;
  }
}


/* Sidebar Search
-------------------------------------------------------*/

.widget.search .searchbox {
  background-color: #fff;
  border: 2px solid $border-color;

  &:focus {
    border-color: $main-color;
  }
}

.search-button {
  position: absolute;
  top: 0;
  height: 100%;
  right: 10px;
  background-color: transparent;
  border: none;
}

.search-button i {
  font-size: 13px;

  &:hover {
    color: $bg-dark;
  }
}


/* Tags
-------------------------------------------------------*/
.tags a {
  padding: 10px 13px;
  line-height: 1;
  margin: 0 6px 6px 0;
  font-size: 14px;
  color: $text-color;
  background-color: $bg-light;
  display: inline-block;
  float: left;
  @include transition($all);

  &:hover {
    background-color: $main-color;
    color: #fff;
    border-color: transparent;
  }
}

.tags.light a {
  background-color: #fff;

  &:hover {
    background-color: $main-color;
  }
}


/*-------------------------------------------------------*/
/* Blog Masonry
/*-------------------------------------------------------*/

.blog-masonry .entry-item {
  margin-bottom: 30px;
}

.blog-masonry .entry-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.card .entry-date {
  position: absolute;
  pointer-events: none;
  top: 0;
  background-color: $heading-color;
  font-family: $heading-font;
  line-height: 1;
  color: #fff;
  font-size: 18px;
  padding: 11px 14px;

  span {
    font-size: 10px;
    display: block;
    text-transform: uppercase;
  }
}


/*-------------------------------------------------------*/
/* Blog Single
/*-------------------------------------------------------*/

.post-single {

  .entry-wrap {
    padding: 6% 9%;
  }

  .article p {
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 32px;
  }

  .entry-content .lead {
    font-size: 20px;
    line-height: 34px;
  }
}

/* Share / tags
/*-------------------------------------------------------*/
.entry-content .entry-tags span,
.entry-share span {
  display: inline-block;
  margin-right: 10px;
  color: $heading-color;
}

.entry-content .entry-tags span {
  margin-right: 0;
}

.entry-content .entry-tags a {
  margin: 0;
  padding: 0;
  background-color: transparent;
  float: none;

  &:hover {
    color: $heading-color;
  }
}

.entry-share {
  padding: 20px 0;
  border-top: 1px solid $border-color;
  margin-bottom: 20px;

  .social-icons {
    margin-top: 0;
    display: inline-block;
  }
}


/* Author
/*-------------------------------------------------------*/
.entry-author-box {
  padding: 50px 40px;
  background-color: $bg-light;
  position: relative;
  margin-bottom: 80px;
}

.entry-author-box .author-img {
  display: block;
  border-radius: 50%;
  float: left;
}

.entry-author-box .author-name,
.entry-comments .comment-author {
  margin-bottom: 0;
  display: block;
}

.author-name {
  font-size: 18px;
  font-weight: 400;
}

.author-info {
  padding-left: 86px;
}

.author-info span {
  font-size: 13px;
  margin-bottom: 10px;
  margin-top: 5px;
  display: inline-block;
}


/* Comments
/*-------------------------------------------------------*/
.entry-comments .comment-avatar {
  position: absolute;
  display: block;
  border-radius: 50%;
}

.entry-comments .comment-content {
  padding-left: 86px;
  margin-top: 5px;
}

.entry-comments .comment-author {
  color: $heading-color;
  font-family: $heading-font;
  font-weight: 400;
  font-size: 14px;
}

.entry-comments span {
  display: inline-block;
}

.entry-comments span:last-of-type{
  margin-bottom: 10px;
}

.entry-comments .comment-content span a {
  font-size: 12px;
  color: #929292;
}

.entry-comments .comment-content p {
  margin-bottom: 10px;
}

.comment-reply {
  padding-left: 10%;
}

.comment-body {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid $border-color;
}

#comment {
  margin-bottom: 20px;
}

.comment-form input {
  margin-bottom: 20px !important;
}