// Colors
$text-color: #6c6c6c;
$heading-color: #424242;
$subheading-color: #acacac;
$bg-light: #f7f7f7;
$bg-dark: #171717;
$dark-grey: #424242;
$light-grey: #a3a3a3;
$border-color: #eaeaea;
$main-color: #1abcb0;


// Fonts
$body-font: 'Open Sans', sans-serif;
$body-font-fauna: 'Fauna One', sans-serif;
$heading-font: 'Montserrat', sans-serif;
$heading-font-raleway: 'Raleway', sans-serif;
$heading-font-playfair: 'Playfair Display', serif;
$heading-font-dosis: 'Dosis', sans-serif;
$heading-font-poppins: 'Poppins', sans-serif;
$heading-font-source-sans: 'Source Sans Pro', sans-serif;
$heading-font-roboto: 'Roboto', sans-serif;
$alt-font: 'Noto Serif', serif;